# **Updating values in DataFrame**

Tutorial link: https://youtu.be/DCDe29sIKcE

In [1]:
import pandas as pd

In [2]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [3]:
df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [4]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [5]:
df.columns = ['first_name', 'last_name', 'email'] #renaming columns

In [6]:
df.columns = [x.lower() for x in df.columns]
df

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [30]:
df.rename(columns={'first_name': 'first', 'last_name': 'last'}, inplace=True)
df

   first     last                    email
0  Chris  Schafer  coreymschafer@gmail.com
1   Mary      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

In [32]:
df.loc[2] = ['John', 'Smith', 'JohnSmith@email.com']
df

   first     last                    email
0  Chris  Schafer  coreymschafer@gmail.com
1   Mary      Doe        janedoe@email.com
2   John    Smith      JohnSmith@email.com

In [34]:
df.loc[2, ['last', 'email']] = ['Doe', 'JohnDoe@email.com']
df

   first     last                    email
0  Chris  Schafer  coreymschafer@gmail.com
1   Mary      Doe        janedoe@email.com
2   John      Doe        JohnDoe@email.com

In [11]:
df.loc[2, 'last'] = 'Smith'
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith        JohnDoe@email.com

In [12]:
df.at[2, 'last'] = 'Doe' #alternate
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [35]:
filt = (df['email'] == 'JohnDoe@email.com')
df[filt]['last'] = 'Smith'

<ipython-input-35-3767d2a961d2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[filt]['last'] = 'Smith'

In [36]:
filt = (df['email'] == 'JohnDoe@email.com')
df.loc[filt, 'last'] = 'Smith'
df

   first     last                    email
0  Chris  Schafer  coreymschafer@gmail.com
1   Mary      Doe        janedoe@email.com
2   John    Smith        JohnDoe@email.com

In [15]:
df['email'] = df['email'].str.lower()
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

In [16]:
df['email'].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

In [41]:
def update_email(email):
    return email.upper()

df['email'].apply(update_email)

0    COREYMSCHAFER@GMAIL.COM
1          JANEDOE@EMAIL.COM
2          JOHNDOE@EMAIL.COM
Name: email, dtype: object

In [43]:
df['email'] = df['email'].apply(update_email)
df

   first     last                    email
0  Chris  Schafer  COREYMSCHAFER@GMAIL.COM
1   Mary      Doe        JANEDOE@EMAIL.COM
2   John    Smith        JOHNDOE@EMAIL.COM

In [44]:
df['email'] = df['email'].apply(lambda x: x.lower())
df

   first     last                    email
0  Chris  Schafer  coreymschafer@gmail.com
1   Mary      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

- lambda  is a way to define a function in a single line of code without giving it a name.
- Here lambda function is used to apply the lower() method to each element in the df['email'] column of the Pandas DataFrame.

In [21]:
df['email'].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

In [22]:
df.apply(len, axis='columns')

0    3
1    3
2    3
dtype: int64

In [23]:
len(df['email'])

3

In [24]:
df.apply(pd.Series.min)

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [25]:
df.apply(lambda x: x.min())

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [26]:
df.applymap(len)

   first  last  email
0      5     7     23
1      4     3     17
2      4     5     17

In [27]:
df.applymap(str.lower)

   first     last                    email
0  corey  schafer  coreymschafer@gmail.com
1   jane      doe        janedoe@email.com
2   john    smith        johndoe@email.com

In [28]:
df['first'].map({'Corey': 'Chris', 'Jane': 'Mary'})

0    Chris
1     Mary
2      NaN
Name: first, dtype: object

In [29]:
df['first'] = df['first'].replace({'Corey': 'Chris', 'Jane': 'Mary'})
df

   first     last                    email
0  Chris  Schafer  coreymschafer@gmail.com
1   Mary      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com