# **Filtering**

https://youtu.be/Lw2rlcxScZY

In [1]:
import pandas as pd

In [2]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [6]:
df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [13]:
df['last'] == 'Doe'

0    False
1     True
2     True
Name: last, dtype: bool

In [14]:
filt = (df['last'] == 'Doe')

#we can also write this as, if not to use any var
#df[df['last'] == 'Doe']

In [12]:
#displays only filter rows

df[filt] #or df.loc[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [15]:
df.loc[filt, 'email']

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [20]:
filt = (df['last'] == 'Schafer') | (df['first'] == 'John')
df[filt]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@email.com

In [ ]:
#We can also use comparison operators or any matematical operator to filter in columns and rows more precisely

In [21]:
df.loc[~filt, 'email'] #return rows in the 'email' for which the filter condition is False

1    JaneDoe@email.com
Name: email, dtype: object

In [22]:
df.loc[filt, 'email'] #other true columns

0    CoreyMSchafer@gmail.com
2          JohnDoe@email.com
Name: email, dtype: object